
.list-group-item {
    cursor:pointer;
}

.list-group-item:hover {
    background-color: #eee;
}

.list-anchor {
    cursor:pointer;
    list-style-type: square; 
}

li.no-children {
    list-style-type: disc;
    list-style-image: none;
}
.list-anchor.contracted {
    
    list-style-image:   url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="12"  aria-labelledby="542e425e-b510-4543-9e7b-d15c5f3a85bd" class="icon icon--plus" viewBox="0 0 32 32">  <path d="m10.59259,0.11111l10.77778,0l0,10.62963l10.77778,0l0,10.62963l-10.77778,0l0,10.62963l-10.77778,0l0,-10.62963l-10.77778,0l0,-10.62963l10.77778,0l0,-10.62963z" id="svg_1" fill="#494949"/></svg>');
}

.list-anchor.expanded {
    
     list-style-image:   url('data:image/svg+xml;utf8, <svg  width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" class="icon icon--plus" viewBox="0 0 32 32"><g><rect height="10.75" width="100%" y="10.625" x="0.75" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="null" fill="#494949" /></g></svg>');
     
}


.icon {
    display: inline-block;
    vertical-align: middle;
}

.icon--chevron > path{
    fill: pink;
    stroke: pink;
      stroke-width: 0.2;
}

.icon--plus > path {
    fill: gold;
    stroke: gold;
    stroke-width: 0.1;
    stroke-linejoin: round;
}


.list-anchor { max-height: 100vh; }
.list-anchor.contracted > ul { 
   transition: all 100ms linear;
   max-height: 0;
   /*overflow: hidden;*/
   opacity: 0;
   visibility: hidden;
}

.list-anchor.expanded > ul {
    /*max-height: auto;*/
    max-height: 100vh;
    opacity: 1;
    visibility: visible;
}

