
.list-group-item {
    cursor:pointer;
}

.list-group-item:hover {
    background-color: #eee;
}

.list-anchor {
    cursor:pointer;
    list-style-type: square; 
}

li.no-children {
    list-style-type: circle;
    list-style-image: none;
}
.list-anchor.contracted {
     /*list-style-image: url(plus.svg);*/
     /*list-style-image: url(//goo.gl/L3tqpe)*/
     /*list-style-image:   url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><linearGradient id='gradient'><stop offset='10%' stop-color='blue'/><stop offset='90%' stop-color='blue'/> </linearGradient><rect fill='url(%23gradient)' x='0' y='0' width='100%' height='100%'/></svg>");*/
    
    /*list-style-image:   url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='15' height='15'><line x1='10' x2='50' y1='110' y2='150'/></svg>");*/

    list-style-image:   url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 32 32" aria-labelledby="542e425e-b510-4543-9e7b-d15c5f3a85bd" class="icon icon--chevron"><path d="M19.645 15.928L7.596 3.895A2.244 2.244 0 1 1 10.772.722l13.614 13.6c.189.205.362.446.472.728.12.268.18.555.18.854a2.2 2.2 0 0 1-.18.872c-.11.27-.282.514-.472.724L10.699 31.172a2.209 2.209 0 0 1-1.588.669 2.182 2.182 0 0 1-1.588-.669 2.244 2.244 0 0 1 0-3.173l12.122-12.071z" fill="blue"></path></svg>');
}

.list-anchor.expanded {
     /*list-style-image: url(plus.svg);*/
     /*list-style-image: url(//goo.gl/L3tqpe)*/
    /*list-style-image:   url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><linearGradient id='gradient'><stop offset='10%' stop-color='red'/><stop offset='90%' stop-color='red'/> </linearGradient><rect fill='url(%23gradient)' x='0' y='0' width='100%' height='100%'/></svg>");*/

     list-style-image:   url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 32 32" aria-labelledby="542e425e-b510-4543-9e7b-d15c5f3a85bd" class="icon icon--chevron"><path d="M19.645 15.928L7.596 3.895A2.244 2.244 0 1 1 10.772.722l13.614 13.6c.189.205.362.446.472.728.12.268.18.555.18.854a2.2 2.2 0 0 1-.18.872c-.11.27-.282.514-.472.724L10.699 31.172a2.209 2.209 0 0 1-1.588.669 2.182 2.182 0 0 1-1.588-.669 2.244 2.244 0 0 1 0-3.173l12.122-12.071z" fill="red"></path></svg>');
     
}


.icon {
    display: inline-block;
    vertical-align: middle;
}

.icon--chevron > path{
    fill: pink;
    stroke: pink;
      stroke-width: 0.2;
}

.icon--plus > path {
    fill: gold;
    stroke: gold;
    stroke-width: 0.1;
    stroke-linejoin: round;
}


/*.list-anchor.expanded span.hit-area {
    padding:0px 4px;
    font-size: 26px;
    font-weight: bold;
    line-height: 16px;
}
.list-anchor.expanded  span.hit-area:before { content: '-'}
.list-anchor.contracted span.hit-area:before { content: '+'}*/

.list-anchor.contracted > ul { display:none;}
